/* Attributi generali */
/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: work sans, Arial, Helvetica, sans-serif;
}
/* Header e intestazione */

.acqua-background {
    background-color: #255ee9;
    min-height: 80px;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 

.container-flex-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.logo {
    text-align: left;
    
}

.menù {
    text-align: center;
 
    
}

.accedi {
    text-align: right;
    
    
}

/* Fine attributi header */

/* inizio attributi Main  */

.discord-img{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 9%;
}

#titolo {
    color: white;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin-top: 85px;
}

p {
    color: white;
    font-size: 19px;
    text-align: center;
}

.button {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}

.link-reference {
    color: white;
    margin: 16px;
    background-color:#255ee9;
    font-size: 16px;
    font-weight:600;
    border: none;
    text-decoration: none;

}

.white-buttons {
    color: black;
    border-color: white;
    margin-right: 20px;
}

.black-buttons {
    color: white;
    background-color: #23272a;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Fine First Block  */

/* Inizio Second Block  */

.white-background {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pink-background {
    background-color: #f6f6f6;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.small-section {
    padding-top: 35px;
    min-height: 450px;
    max-width: 372px;
}

.small-section > p {
    text-align: left;
    color: black;
}

.small-section > div {
    font-weight: 700;
    font-size: 30px;
}

.big-section {
    min-height: 450px;
    max-width: 1050px;
    
}

/* Fine second block  */

/* Inizio third block  */

.third-block {
    padding-top: 40px;
    padding-bottom: 150px;
    min-width: 1050px;
    min-height: 600px;
}
    

#third-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

#third-paragraph {
    text-align: center;
    color: black;
}

#last-title {
    width: 531px;
    height: 49px;
    font-family: work sans, serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background-image: url('../img/stars.svg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.last-button {
    color: white;
    background-color: #8ea1e1;
    font-weight: 300;
}


/* Fine fourth block  */
/* Fine main  */

/* Inizio Footer  */

.boldgray-background {
    background-color: #23272a;
    padding-bottom: 40px;
    padding-top: 60px;
}

#change-language {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

#list {
    text-align: left;
}

#footer-title {
    font-family: work sans, serif;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: #7087d7;
    margin-top: 1px;
}

.flag {
    position: relative;
    width: 12px;
    height: 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: inline-block;
    margin-left: 5px;
}


.italy {
    background: linear-gradient(
    to right,
    #009343 33%,
    #fff 33%,
    #fff 66%,
    #cf2734 0
 );
}

.fa-brands {
    padding-right: 15px;
    color:white;
}

.container-flex-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-flex-over {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
  
.container-gray {
    background-color: #23272a;
    min-height: 450px;
    min-width: 175px;
}

.first-menu {
    margin-top: 10px;
    margin-left: 50px;
    min-height: 450px;
    min-width: 175px;
}



.first-menu > div > a {
    text-decoration: none;
    color: white;
}

.purple-title {
   color: #7087d7;
   font-weight: 600;
}




.azul-background {
    background-color: #7fffd4;
    min-height: 50px;
    vertical-align: middle;
    padding: 10px 5px 10px 5px;
    min-width: 525px;
}

.logo-due {
    border-color: black solid 1px;
    text-align: left;
}

.button-due {
    text-align: right;
    border-color: black solid 1px;

}

.boldgray-background-due {
    background-color: #23272a;
    padding-top: 20px;

}

/* fine footer  */